.navbar > .navbar-inverse{
  border-radius: 0px;
}

.filter-background-color{
	background: #4d4d4d;
    color: #fff;
    padding: 20px;
}
.row{
  padding: 0px;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 40px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.background-image-header{
	margin-bottom: 50px;
	background-image: url('../img/slider-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.text-black{
  color: #222;
}
.select-sevice{
  color: #fff;
}
    